$font: 'Poppins', sans-serif;

$shadow: 0 6px 12px rgba(140,152,164,.075);
$shadow-sm: 1px 3px 5px rgba(0,0,0,0.05);
$dropdown-shadow: 0 10px 40px 10px rgba(140,152,164,.175);
$border: .0625rem solid rgba(231,234,243,.7);
$radius: .75rem;

$font-size-base: 0.9rem;
$line-height-base: 1.6;