@import 'variables';

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #ddd;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: $radius;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: $font !important;
    background-color: #fff !important;
    line-height: $line-height-base !important;
    font-size: $font-size-base !important;
    font-weight: 500 !important;
    background-image: url("../images/svg/background.svg");
    background-position: center;
    background-size: contain;
    position: relative;
    overflow-y: scroll;
    transition: all 1s ease;
}

.active{
    color: #007bff !important;
}

.action-group{
    a{
        font-size: .9em;
    }
}

.new-card{
    box-shadow: $dropdown-shadow !important;
    border: $border;
    border-radius: $radius;
}

.nav-selected{
    color: #007bff !important;
}

.font-weight-500{
    font-weight: 500 !important;
}

.form-group{
    label{
        font-size: .8em;
    }

    .form-control{
        font-family: $font !important;
        font-weight: 500;
        font-size: .9em;
        border: 1px solid #ddd;
    }

    button{
        width: 100%;
        font-weight: 600;
        font-size: 1em;
    }
}

.contact-option{
    a{
        width: 100%;
        font-weight: 600;
        font-size: 1em;        
    }
}

.catch-phrase{
    font-size: 1.7rem !important;
    font-family: $font;
    font-weight: 500 !important;
    text-shadow: 1px 3px 3px rgba(0,0,0,0.1);
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .catch-phrase{
        font-size: 2.5rem !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .catch-phrase{
        font-size: 3rem !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .catch-phrase{
        font-size: 3.3rem !important;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .catch-phrase{
        font-size: 3.5rem !important        
    }
}

.profile-animation{
    width: 130px;
    transform: scale(1);
    animation-name: profileGrow;
    animation-duration: .4s;
    animation-direction: normal;
    transition: all .4s ease;
}

// animations
@keyframes profileGrow {
    from{
        // width: 10px;
        // height: 10px;

        transform: scale(.1);
    }

    to{
        transform: scale(1);
        // width: 120px;
        // height: 120px;
    }
}